<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a routerLink="/" class="text-dark" class="logo"></a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a
      class="p-2 text-dark"
      href="https://jss.sitecore.net"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ 'Documentation' | translate }}
    </a>
    <a href="https://github.com/TomTyack/jssokta" class="p-2 text-dark">
      {{ 'Github' | translate }}
    </a>
    
    <a *ngIf="!isAuthenticated" (click)="login()" class="p-2 text-dark">
      {{ 'Login via OKTA' | translate }}
    </a>

    <a *ngIf="!isAuthenticated" (click)="loginEmbedded()" class="p-2 text-dark">
      {{ 'Login Embedded' | translate }}
    </a>

    <a *ngIf="isAuthenticated" (click)="logout()" class="p-2 text-dark">
      {{ 'Logout' | translate }}
    </a>
  </nav>
</div>
